
@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/MyLayout.cshtml";
}
<main>
    <div class="container">
        <div class="row" style="border: 1px solid #DDDDDD; height: 700px; margin: 50px auto; width: 900px ">
            <div class="col-12" style="padding:20px 80px">
                <div class="row" style="margin-bottom:10px">
                    @if (ViewBag.Msg != null)
                    {
                        if (ViewBag.Msg == "1")
                        {
                            <div class="alert alert-success">
                                <strong>Thành công</strong>
                            </div>
                        }
                    }
                    <div class="col-12" style="margin-top:30px;text-align:center">
                        <h3> Post</h3>

                    </div>
                </div>
                @{ var item = ViewBag.Post;}
                @{
                    var img = new InstagramAspMVC.Daos.PostDao().getImg(item.id_post);
                }
                <form id="formProfile" action="/User/Update" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="idpost" value="@item.id_post" />
                    <input type="hidden" name="anh" value="@img.image" />
                    <div class="row" style="margin-top:30px">
                        <div class="col-4">
                            <p style="font-weight:bold;font-size:13px">Image</p>
                        </div>
                        <div class="col-8">
                            <div class="mb-3">
                                <input type="file" accept="image/*" name="file" style="display:block" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:30px">
                        <div class="col-4">
                            <p style="font-weight:bold;font-size:13px">Content</p>
                        </div>
                        <div class="col-8">
                            <div class="mb-3">
                                <textarea class="form-control" rows="10" name="content">@item.content</textarea>

                            </div>
                        </div>
                    </div>

                    <div class="row" style="margin-top:30px">
                        <div class="col-12" style="display: flex; align-items: center; justify-content: center;">
                            <button style="width:100px;" type="submit" class="btn btn-secondary">Edit</button>

                        </div>
                    </div>
                </form>
                <form action="/User/Delete" method="post">
                    <input type="hidden" name="idx" value="@item.id_post" />
                    <button style="width:100px;margin-left:600px;margin-top:-40px" type="submit" class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</main>

